.form {
	margin: 50px auto;
}
.form-control {
	border-color: none;
	box-shadow: none;
}
.form-control-danger {
	border-color: #dc3545 !important;
	box-shadow: 0 0 0 0.2rem rgba(220,53,69,.5) !important;
}
.form-params {
	display: flex;
	justify-content: space-between;
}
.form-params div {
	width: 30%;
}
form.container {
	width: 50%;
}
.form-title {
	margin: 30px 0 15px 0;
	text-align: center;
}
.form-names {
	display: flex;
	justify-content: space-between;
}
.form-names div {
	width: 45%;
}
.form-logo {
	width: 100%;
	height: auto;
	text-align: center;
}
.form-logo img {
	width: 30%;
}
.form .container h4 {
	font-size: 18px;
	text-align: center;
	margin-bottom: 20px;
}
.select-country {
	width: 30%;
	font-size: 1rem;
	line-height: 1.5;
	height: 38px;
	border-radius: 5px;
	border: 1px solid #ced4da;
}
@media screen and (max-width: 768px) {
	.select-country {
		width: 50%;
		border: 2px solid #000000;
	}
	.form-title {
		margin: 20px 0 30px 0;
		font-size: 26px;
	}
	form.container {
		width: 90%;
	}
	.form-logo img {
		width: 70%;
	}
	.form-names div {
		width: 48%;
	}
	.form-label {
		font-size: 16px;
	}
	.form-params {
		flex-wrap: wrap;
	}
	.form-params div {
		width: 48%;
	}
	.form-params div:last-child {
		width: 100%;
	}
	input[name="firstname"], input[name="lastname"],
	input[name="height"], input[name="weight"],
	input[name="params"], input[name="insta"],
	input[name="mail"], input[name="phone"], 
	.css-1hwfws3, .react-date-picker {
		border: 2px solid black !important;
	}
	.form-logo img {
		width: 50%;
	}
}