.map img{
	width: 100%;
	height: auto;
}
.map-final {
	text-align: center;
	margin: 30px auto;
	margin-top: 100px;
}
.map-final span {
	color: #ee8ab4;
}
.map-container {
	position: relative;
}
.map-country {
	/* position: absolute;
	left: 0;
	bottom: -30px;
	right: 0; */
	margin-top: -300px;
	display: flex;
	justify-content: center;
}
.map-country > div {
	width: 10%;
	text-align: center;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.map-country > div > img {
	width: 50%;
}
.map-country ul {
	display: flex;
	flex-direction: column;
	width: max-content;
	padding: 0;
	list-style: none;
}
.map-country ul li {
	margin: 5px 0;
	display: flex;
	align-items: center;
}
.map-country img {
	width: 30px;
	margin-right: 5px;
	height: auto;
}
.map-country h3 {
	margin: 10px 0;
	color: #ee8ab4;
}

.sheen {
	overflow: hidden;
}

@media screen and (max-width: 767px) {
	.bm-burger-button {
		width: 36px;
		height: 36px;
		right: 35px;
		top: 35px;
	}
	.map-final {
		font-size: 24px;
	}
}

@media screen and (min-width: 600px) and (max-width: 1200px) {
	.map-country {
		position: relative;
		margin-top: -15%;
		flex-wrap: wrap;
	}
	.map-country > div {
		width: 25%;
	}
}
@media screen and (max-width: 600px) {
	.map-country {
		flex-wrap: wrap;
		position: relative;
		margin-top: -15%;
	}
	.map-country > div {
		width: 40%;
	}
	.map-country h3 {
		font-size:7vw;
	}
	.map-country li {
		font-size: 12px;
	}
}