.head {
	position: relative;
	width: 100%;
	height: 100vh;
	overflow: hidden;
	background-image: url(./HeadVideo/slide1.jpg);
	background-size: cover;
	background-position: center;
}
.terms {
	color: white;
	position: fixed;
	top: 55px;
	right: 200px;
}
.terms a {
	color: white;
}
.terms a:hover {
	color: white;
	text-decoration: none;
}
.terms a:first-child {
	margin-right: 20px;
}
.head-lang {
	position: fixed;
	top: 45px;
	right: 120px;
	display: flex;
	flex-direction: column;
}
.head-lang > a {
	color: white;
	font-weight: bold;
}
.head-lang > a:hover {
	text-decoration: none;
	color: white;
}
.active-lang {
	/* line-height: 1.3; */
	border-bottom: 2px solid white;
}
.buy-tickets-link {
	text-align: center;
	background: none;
    border-radius: 50%;
    bottom: 70pt;
    display: inline;
    height: 45pt;
    padding: 0px;
    position: fixed;
    right: 18pt;
    top: auto;
    width: 45pt;
	z-index: 2147483646;
	background: rgb(75, 206, 75);
	border: 3px solid rgb(75, 206, 75);
	box-shadow: 0 0 0 0px rgba(75, 206, 75, .5);
	display: flex;
	align-items: center;
	justify-content: center;
	animation: pulseButtonBuy 1.5s infinite;
}
.buy-tickets-link a {
	color: #fff;
	font-size: 13px;
	line-height: 16px;
	text-decoration: none;
}
@keyframes pulseButtonBuy {
	to {
		transform: scale(.9);
		box-shadow: 0 0 0 30px rgb(75, 206, 75, 0);
	}
}

@media screen and (max-width: 767px) {
	.head {
		background-image: url(./HeadVideo/slide1.jpg);
		background-size: cover;
		background-position: center;
		background-repeat: no-repeat;
	}
	.head-lang {
		font-size: 12px !important;
		top: 13px;
		right:70px;
	}
	.terms {
		right: 115px;
		top: 15px;
		display: flex;
		flex-direction: column-reverse;
		align-items: center;
	}
	.terms a {
		font-size: 12px;
	}
	.terms a:first-child {
		margin-right: 0;
	}
}
