.modal-reg {
	z-index: 6666;
	height: 100%;
	position: fixed;
	width: 100%;
	background-color: white;
	/* left: 10%; */
	top: -100%;
	overflow: scroll;
}
.modal-reg::-webkit-scrollbar { 
    display: none; 
}
.modal-reg.open {
	transition: all .3s ease;
	top: 0;
}
.close-modal {
	position: absolute;
	right: 50px;
	top: 40px;
	background-color: rgba(255, 255, 255, 0);
	border: none;
	font-size: 48px;
	cursor: pointer;
}
.close-modal:focus {
	outline: none;
}

@media screen and (max-width: 767px) {
	.close-modal {
		font-size: 18px;
		right: 20px;
		top: 20px;
	}
}