.pulse-arrow {
	position: absolute;
	text-align: center;
	top: auto;
	bottom: 20px;
	animation: pulse 1.2s infinite;
}
.pulse-arrow:hover {
	animation: none;
}

.pulse-arrow svg {
    width: 50px;
    height: 50px;
	fill: white;
	padding: 5px;
	border: 2px solid white;
	border-radius: 36px;
}
.pulse-arrow svg * {
	transition: all 0.3s ease;
}

@keyframes pulse {
	to {
		bottom: 40px;
	}
  }

  @media screen and (max-width: 767px) {
	.pulse-arrow {
		bottom: 60px;
	}
  }