.services {
	width: 100%;
}
.services h1 {
	margin: 30px auto;
	color: #d85189;
	text-align: center;
}
.services-content {
	display: flex;
	justify-content: space-between;
	padding: 50px 0;
}
.services-img {
	width: 25%;
	display: flex;
	align-items: center;
}
.services-img img {
	width: 100%;
}
.services-text {
	width: 60%;
	text-align: right;
	margin-right: 5%;
}
.services-text > div {
	text-align: left;
}
.services-text > div > ul {
	text-align: left;
}
@media screen and (min-width: 768px) and (max-width: 1024px) {
	.services-img {
		display: none;
	}
	.services-content {
		justify-content: flex-end;
		background-image: url(girl_services_bg.png);
		background-size: contain;
		background-repeat: no-repeat;
		background-position-x: -5%;
	}
}
@media screen and (max-width: 767px) {
	.services-img {
		display: none;
	}
	.services-content {
		justify-content: flex-end;
		background-image: url(girl_services_bg.png);
		background-size: contain;
		background-repeat: no-repeat;
		background-position-x: 0;
		background-position-y: 50%;
	}
	.services-text {
		width: 80%;
		margin: 0 auto;
	}
}
