.footer-contacts-list {
	list-style: none;
	text-align: right;
}
.footer-contacts-item {
	margin: 20px 0;
}
.footer-contacts-item span {
	color: grey;
}
.footer-contacts-link {
	text-decoration: none;
	font-weight: 600;
	color: rgb(206, 194, 194);
}
.footer-contacts-link:hover {
	color: rgb(255, 255, 255);
}

/* phones */
@media screen and (max-width: 767px) {
	.footer-contacts-list {
		text-align: left;
		padding-left: 0;
	}
}