.apply-block {
	margin-bottom: 40px;
}
.apply-link {
	text-transform: uppercase;
	text-decoration: none;
	color: black;
	font-weight: bold;
	letter-spacing: 1px;
	padding: 20px 35px;
	border: 2px solid #52aac5;
	border-radius: 30px;
	color: rgb(83, 81, 81);
}
.apply-link:hover {
	transition: all .4s ease;
	background-color: #52aac5;
	color: white;
}