.parthners { 
	margin-top: 50px;
	background-image: url(parthners_girl_bg.png);
	background-size: cover;
	background-position: center;
	background-position-y: 70%;
}
.parthners h1 {
	text-align: center;
	color: #d85189;
	padding: 30px 0;
	margin: 0;
}
.parthners-container {
	width: 90%;
	padding: 30px 0;
	margin: 30px auto;
	margin-bottom: 0;
	display: flex;
	flex-direction: column;
}
.parthners-container > div > div {
	margin: 0px 30px;
}
.parthners-container-top {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 30px;
}
.parthners-container-bottom {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 30px;
}
.parthners-container-bottom > div:first-child {
	width: 50%;
}
.parthners-container img {
	width: 100%;
}
.legio-logo {
	width: 25vw !important;
}
.rbk-logo {
	width: 20vw !important;
}
.inrating-logo {
	width: 30vw !important;
}
.talk-logo {
	width: 11vw !important;
}
.juv-logo {
	width: 10vw !important;
}
.wtc-logo {
	width: 40vw !important;
}
.talk-logo-div {
	margin-left: 0 !important;
}

@media screen and (max-width: 767px) {
	.parthners { 
		margin-top: 30px;
	}
	.parthners h1 {
		padding: 20px 0;
	}
	.parthners-container {
		padding: 10px 0;
		margin: 10px auto;
	}
	.parthners-container > div > div {
		margin: 0px 5vw;
	}
	.parthners-container > div > div {
		margin: 0 15px;
	}
	.parthners-container-top {
		margin-bottom: 10px;
	}
	.parthners-container-bottom {
		margin-top: 10px;
	}
	.parthners-item:first-child img {
		width: 30vw;
	}
	.parthners-item:nth-child(2) img {
		width: 30vw;
	}
	.inrating-logo {
		width: 20vw !important;
		margin-right: 0 !important;
	}
	.legio-logo {
		width: 15vw !important;
	}
	.rbk-logo {
		width: 25vw !important;
	}
	.talk-logo {
		width: 13vw !important;
	}
	.juv-logo {
		width: 10vw !important;
	}
	.wtc-logo {
		width: 45vw !important;
	}
}