.final {
	font-weight: bold;
	text-align: center;
	color: white;
	font-size: 54px;
	letter-spacing: 3px;
	text-transform: uppercase;
	margin-top: 80px;
}
.final span {
	font-family: 'Montserrat', sans-serif;
	font-size: 65px;
	font-weight: bold;
}
.head-container {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
}
.head-title {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.head-title h1 {
	color: white;
	font-size: 72px;
	font-weight: bold;
	letter-spacing: 3px;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	text-transform: uppercase;
}
.head-title h3 {
	text-align: center;
	line-height: 1.5;
	letter-spacing: 2px;
	width: 50%;
	margin: 20px auto;
	font-size: 32px;
	font-weight: bold;
	color: white;
}
.links-container {
	margin-top: 50px;
}
.registration {
	background: rgb(75, 206, 75, 0);
	border: 3px solid rgb(75, 206, 75);
	border-radius: 35px;
	color: white;
	font-size: 24px;
	letter-spacing: 5px;
	cursor: pointer;
	outline: none;
	box-shadow: 0 0 0 0px rgba(75, 206, 75, .5);
	animation: pulseButton 1.5s infinite;
	font-weight: bold;
	padding: 10px 30px;
	margin-right: 20px;
	outline: none;
}
.registration:focus {
	outline: none;
}
.head-logo {
	width: 130px;
	height: auto;
	position: fixed;
	top: 30px;
	left: 20px;
	z-index: 1;
}
.head-logo img {
	width: 100%;
	height: auto;
}
.head-copy {
	position: fixed;
    left: -64px;
    top: calc(50% - 12px);
    font-size: 13px;
    line-height: 24px;
    font-style: normal;
    color: #e289b1 !important;
    opacity: .5;
    z-index: 20;
    letter-spacing: 0.02em;
    transform: rotate(-90deg);
    transform-origin: center center 0;
    transition: color 0.3s ease-in-out;
}
.button-down {
	display: inline-block;
	position: absolute;
	bottom: 0;
	left: 49%;
}
.children-restrict {
	margin-top: 30px;
	font-size: 18px;
	color: white;
}

/* laptop */
@media screen and (min-width: 1025px) and (max-width: 1400px) {
	.registration {
		font-size: 14px;
	}
	.head-title h1 {
		font-size: 28px;
		letter-spacing: 3px;
	}
	.head-title h3 {
		width: 70%;
		font-size: 14px;
		letter-spacing: 1px;
		line-height: 1.5;
	}
	.final {
		font-size: 28px;
		margin-top: 30px;
	}
	.head-copy {
		position: fixed;
		left: -90px;
		top: calc(50% - 12px);
		font-size: 12px;
		line-height: 24px;
		font-style: normal;
		color: white;
		opacity: .5;
		z-index: 20;
		letter-spacing: 0.02em;
		transform: rotate(-90deg);
		transform-origin: center center 0;
		transition: color 0.3s ease-in-out;
	}
}

/* tablets */
@media screen and (min-width: 768px) and (max-width: 1024px) {
	.registration {
		font-size: 18px;
	}
	.head-title h1 {
		font-size: 42px;
		letter-spacing: 3px;
	}
	.head-title h3 {
		width: 60%;
		font-size: 18px;
		letter-spacing: 2px;
	}
	.final {
		font-size: 36px;
		margin-top: 20px;
	}
	.final span {
		font-size: 36px;
	}
	.head-copy {
		left: -110px;
		font-size: 13px;
	}
	.head-logo {
		width: 100px;
		height: 80px;
		position: fixed;
		top: 36px;
		left: 36px;
		z-index: 1;
	}
	.children-restrict {
		width: 80%;
		margin: 0 auto;
		margin-top: 30px;
		text-align: center;
	}
}

/* phones */
@media screen and (max-width: 767px) {
	.registration {
		font-size: 12px;
		padding: 5px 20px;
		text-shadow: 0 0 2px #000;
		margin-right: 10px;
	}
	.head-title h1 {
		font-size: 22px;
		letter-spacing: 3px;
	}
	.head-title h3 {
		width: 70%;
		font-size: 12px;
		text-shadow: 0 0 2px #000;
		letter-spacing: 2px;
	}
	.final {
		font-size: 16px;
		margin-top: 20px;
		text-shadow: 0 0 3px #000;
	}
	.final span {
		font-size: 16px;
	}
	.head-copy {
		left: -80px;
		font-size: 10px;
	}
	.head-logo {
		width: 60px;
		height: auto;
		position: fixed;
		top: 15px;
		left: 26px;
		z-index: 1;
	}
	.children-restrict {
		width: 80%;
		margin: 0 auto;
		margin-top: 30px;
		text-align: center;
		font-size: 12px;
	}
}

