.more-logo {
	text-align: center;
	margin: 50px auto;
}
.more-logo img {
	width: 20vw;
}
.more-logo > p {
	width: 70%;
	margin: 30px auto;
	font-size: 20px;
	letter-spacing: 2px;
}
.more-parts {
	text-align: center;
}
.more-parts h2 {
	color: #ee8ab4;
}
.more-parts ul {
	margin: 23px auto;
	display: inline-block;
}
.more-parts ul > li {
	text-align: left;
}
#more-head {
	margin-top: 80px;
}

@media screen and (max-width: 768px) {
	.more-logo > p {
		width: 90%;
		margin: 30px auto;
		font-size: 18px;
		letter-spacing: 2px;
	}
	.more-logo img {
		width: 50vw;
	}
}