.loading {
	position: absolute;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	width: 100vw;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: space-between;
	text-align: center;
}
.loading img {
	width: 150px;
	height: 150px;
	margin: 0 auto;
}