.join {
	display: inline-block;
	margin: 40px 0;
}
.join-link {
	text-decoration: none;
	color: #f5cfdf;
	cursor: pointer;
}
.join-link:hover {
	transition: all .3s ease;
	color: black;
}
.arrow {
	display: inline-block;
	border-bottom: 4px solid #52aac5;
	margin: auto 30px;
	width: 30px;
	vertical-align: middle;
	position: relative;
}
.arrow::before {
	content: "";
	width: 20px;
	height: 4px;
	position: absolute;
	bottom: -10px;
	right: -6px;
	background-color: #52aac5;
	transform: rotate(-45deg);
}
.arrow::after {
	content: "";
	width: 20px;
	height: 4px;
	position: absolute;
	bottom: 1px;
	right: -6px;
	background-color: #52aac5;
	transform: rotate(45deg);
}
.active {
	transition: all .3s ease-out;
	margin: auto 50px;
}